---
layout: posts
title: "La Patate Est Confinée"
date: 2022-11-16T18:41:00-6:00
summary: 
  "Le Potato meets Docker and gets contained. (Mésaventures de la Potate: Part 2)"
tags:
  - post
---
<section>
    <h3 class="text-lg font-bold">Last Time on Misadventures of Le Potato...</h3>
    <p>
        Last we saw Le Potato, it had only just been made accessible 
        to the broader internet. It was sitting there, cold and alone, at the edge 
        of the universe, with no purpose and no one to talk to. But that is no way 
        for a highly connected, sophisticated piece of hardware, such as Le Potato, to 
        spend it's life. 
    </p>
    <br />
    <p>
        Such a device should be hosting database full of cat pictures, powering the 
        Internet of Things™️, or connecting people across the vast reaches of the Fediverse. 
        And such futuristic functions couldn't be possible without the latest and greatest 
        in cloud-native software: Docker.
    </p>
</section>
<section class="mt-8">
  <h3 class="text-lg font-bold">Installing Docker</h3>
</section>